body {
  text-align: center;
  color: salmon;
  clear: both;
  background-color: white;

}

.bground {
  background-image: url("../img/stars.jpg");
}

p.top{
  float: right;

}

.column{
  border: 5px solid white;
  width: 300px;
  float: right;
}

.nunya{
  clear: both;
  border: 4px solid white;
  padding: 3px;
}
